.cui-switch {
  all: unset;
  width: 42px;
  height: 25px;
  background-color: #e5e5e5;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cui-switch:focus {
  outline: 2px solid #0066ff;
  outline-offset: 2px;
}

.cui-switch[data-state='checked'] {
  background-color: #0066ff;
}

.cui-switch__thumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}

.cui-switch__thumb[data-state='checked'] {
  transform: translateX(19px);
}
