.cui-checkbox {
  all: unset;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e5e5e5;
  cursor: pointer;
  transition: all 0.2s;
}

.cui-checkbox:hover {
  border-color: #0066ff;
}

.cui-checkbox:focus {
  outline: 2px solid #0066ff;
  outline-offset: 2px;
}

.cui-checkbox[data-state='checked'] {
  background-color: #0066ff;
  border-color: #0066ff;
}

.cui-checkbox__indicator {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
